<!doctype html>
<html>
	<head>

    <title>Brav - Mediator</title>
    <meta charset="utf-8" />
    <!-- include Peer JS and JQuery -->
		<script src="../js/peer.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- include Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>


		<!-- Custom CSS -->
		<link rel="stylesheet" href="/styles/main.css">

	</head>

<body>
	<!-- Fixed Drawer on the left side and header -->

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

		<!--Header-->

		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row" style="background-color: black;">
			<div class="mdl-layout-spacer"></div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
			<span><img src="/images/lion_white.png" width="74px" class="avatar">
			</span>
			<div id='username'>MEDIATOR</div>
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn" style="float: right;">
            <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Profile</li>
            <li class="mdl-menu__item">Settings</li>
            <li class="mdl-menu__item">Log Out</li>
	        </ul>
	        <div class="mdl-textfield__expandable-holder">
          	<input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        	</div>
			</div>

		</header>

	<!--Drawer-->

	<div class="mdl-layout__drawer" style="background: #0086b3;border:none;">

		<div style="text-align: center;">
		<span class="mdl-layout-title"><img src="/images/lion_white.png"  style="margin-top:18px;width: 40%;" /></span>
		</div>

		<!-- Participants Status -->

		<div class="demo-list-action mdl-list">

			<div class="mdl-list_item" style="text-align: center;">
			<button class="mdl-button mdl-js-button" id="left_button">
					<i class="material-icons" style="font-size:38px;">voice_chat</i>
  					Session
			</button>
			</div>
			<div class="mdl-list_item" style="text-align: center;">
			<button class="mdl-button mdl-js-button" id="left_button">
  					<i class="material-icons" style="font-size: 38px;">perm_identity</i>
  					Clients
			</button>
			</div>
		</div>
	</div>

	<!-- Content Area -->

	<main class="mdl-layout__content">

		<div class="page-content">
		<% include ../pages/mediator %>
		</div>

		<!-- Right Sidebar-->

		<div class="right_sidebar">

				<div style="width: 100%;background-color: #0086b3; height: 40px;">
	        		<p style="margin-top:8px;margin-left: 10px;color: white;font-size: 23px;display: inline-block;">NOTES</p>
	        	</div>

			<div class="checklist">

				<!-- Floating Multiline Textfield -->
				<form action="#">
				  <div class="mdl-textfield mdl-js-textfield">
				    <textarea class="mdl-textfield__input" type="text" rows= "9" id="sample5" ></textarea>
				    <label class="mdl-textfield__label" for="sample5">
				    	.....
				    </label>
				  </div>
				</form>

			</div>

			<div class="chat">

				<div style="width: 100%;background-color: #0086b3; height: 40px;">
	        		<p style="margin-top:8px;margin-left: 10px;color: white;font-size: 23px;display: inline-block;">CHAT</p>
	        	</div>

	        <!-- Message Box -->
	        	<div class="messages">

	        	</div>

	        	<div class="input_box">
	        	<form action="#">
			          <div class="mdl-textfield mdl-js-textfield">
			            <input class="mdl-textfield__input" type="text" id="sample1">
			            <label class="mdl-textfield__label" for="sample1">Type to chat</label>
			          </div>

			          <!-- Raised button -->
			          <button class="mdl-button mdl-js-button mdl-button--raised">
			            Send
			          </button>
			        </form>
		        </div>
	      	</div>

		</div>
	</main>
	</div>


    <script>
			//allow to get microphone and camera
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
      var id = '<%= id %>';
      var clientA = id.substr(0, 5);
			var clientB = id.substr(5, 5);
			var clientC = id.substr(10, 5);


			var BinCall = false;
			var CinCall = false;
			//log the id's
			console.log(clientA);
			console.log(clientB);
			console.log(clientC);
			//wait to load jquery
			$(document).ready(function() {
				//connect to the peering server
				var peer = new Peer(clientA, {
					host: location.hostname,
					port: location.port || (location.protocol === 'https:' ? 443 : 80),
					path:'../api'
				});

				//set my stream
				init();

				//events
				peer.on('open', function(id) {
					setInterval(callFirstPerson, 2000);
					setInterval(callSecondPerson, 2000);
					setOnlineStatus('A', 'online');
				});

				peer.on('connection', function(conn) {
					conn.on('data', function(data) {
						alert(data);
					});
				});


				peer.on('call', function(call) {
					call.answer(window.localStream);
					addVideoElement(call.peer);

					console.log(call);

					call.on('stream', function(stream) {
						$('#' + call.peer).prop('src', URL.createObjectURL(stream));
					 });

				});


				$('#send').click(function() {
					var conn = peer.connect($('#peerId').val());
					conn.on('open', function(){
						conn.send($('#message').val());
					});
				});

				function init() {
					navigator.getUserMedia({audio: true, video: true}, function(stream) {
						addVideoElement(peer.id);
						$('#' + peer.id).prop('src', URL.createObjectURL(stream));
						window.localStream = stream;
						}, function() {
							 alert('error while init');
						});
					}

				function callFirstPerson() {
					console.log('call attemp');
					if(BinCall == false) {
						var call = peer.call(clientB, window.localStream);
						var conn = peer.connect(clientB);
							conn.on('open', function() {
								BinCall = true;
								setOnlineStatus('B', 'online');

							});

							conn.on('close', function() {
								BinCall = false;
								setOnlineStatus('B', 'offline');
								$('#' + call.peer).parent().remove();
							});

					}

				}

				function callSecondPerson() {
					if(CinCall == false) {
						var call = peer.call(clientC, window.localStream);
						var conn = peer.connect(clientC);
							conn.on('open', function() {
  							//conn.send('hi!');
								CinCall = true;
								setOnlineStatus('C', 'online');
							});

							conn.on('close', function() {
								CinCall = false;
								setOnlineStatus('C', 'offline');
								$('#' + call.peer).parent().remove();
							});
					}
				}

				function setOnlineStatus(client, status) {
					$('#client' + client +'_status').text('(' + status + ')');
				}

				function addVideoElement(videoId) {
					$('#video-container').append('<div class="video-window"><video id="' + videoId + '" class="client-video" autoplay width="100%" muted ></video></div>');
				}

			});


		</script>

	</body>

</html>
