
<!doctype html>
<html>
	<head>

    <title>Brav - Mediator</title>
    <meta charset="utf-8" />
    <!-- include Peer JS and JQuery -->
		<script src="../js/peer.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- include Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
		<link rel="stylesheet" href="/styles/mdl-jquery-modal-dialog.css">
		<script src="/js/mdl-jquery-modal-dialog.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>

<script src="/js/dependencies/ui-bootstrap.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services/NotesService.js"></script>
<script src="/js/services/MediatorService.js"></script>
<script src="/js/controllers/NotesController.js"></script>
<script src="/js/controllers/AlertPopupController.js"></script>
<script src="/js/config/RoutesConfig.js"></script>
	<!-- Custom CSS -->
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/styles/main.css">

	</head>

<body ng-app="BravChat" ng-controller="AlertPopupCtrl">
	<!-- Fixed Drawer on the left side and header -->
 <script type="text/ng-template" id="AlertPopup.html">
        <div class="modal-header">
            <h3 class="modal-title">Client Agrrement</h3>
        </div>
        <div class="modal-body">
           <pre style="height:350px"> {{consent}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">I Agree!</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

	<!--Drawer-->


	<div class="mdl-layout__drawer" style="background: #598ebf;border:none;">

		<!-- Top Left Logo -->

		<div class ="logo_box">

				<span class="mdl-layout-title" id="logo"><img src="/images/brav_.png"  style="width: 74%;" />

				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn" style="float: right;">
	            <i class="material-icons" style="font-size: 40px; color: white;left: 25%;">keyboard_arrow_down</i>
	            </button>
	            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
	            <li class="mdl-menu__item">Profile</li>
	            <li class="mdl-menu__item">Settings</li>
	            <li class="mdl-menu__item">Log Out</li>
	        	</ul>

				</span>
		</div>

		<!-- Participants Status -->

		<div class="demo-list-action mdl-list">


			<div class="mdl-list_item" style="background-color: #4b7aa8;">
			<button class="mdl-button mdl-js-button" id="left_button" style="text-align: left;">
					<i class="material-icons" style="font-size:15px;color: #1aa3ff">fiber_manual_record</i>
  					MEDIATOR
			</button>
			</div>

			<div class="mdl-list_item">
			<button class="mdl-button mdl-js-button" id="left_button">
					<i class="material-icons" style="font-size:15px;">insert_drive_file</i>
  					FILES
			</button>
			</div>

			<div class="mdl-list_item" style="text-align: center;">
			<button class="mdl-button mdl-js-button" id="left_button">
  					<i class="material-icons" style="font-size: 15px;">perm_identity</i>
  					Clients
			</button>
			</div>

			<div class="mdl-list_item" style="text-align: center;">
			<button class="mdl-button mdl-js-button" id="left_button">
					<i class="material-icons" style="font-size:25px;">voice_chat</i>
  					Session
			</button>
			</div>

			<!-- Status -->
			<div class="parties">
			<P style="margin-left: 20px">PARTIES IN CONFLICT</P>
			<ul class="demo-list-item mdl-list">
			  <li class="mdl-list__item">
			  <i class="material-icons" style="color: #4ddbff; margin-right: 10px;">fiber_manual_record</i>
			    <span class="mdl-list__item-primary-content">
			      Client A
			    </span>
			  </li>
			  <li class="mdl-list__item">
			  <i class="material-icons" style="color: #4ddbff; margin-right: 10px;">fiber_manual_record</i>
			    <span class="mdl-list__item-primary-content">
			      Client B
			    </span>
			  </li>

			</ul>
			</div>

			<div class="guests">
			<P style="margin-left: 20px">GUESTS</P>
			<ul class="demo-list-item mdl-list">
			  <li class="mdl-list__item">
			  <i class="material-icons" style="color: #4ddbff; margin-right: 10px;">fiber_manual_record</i>
			    <span class="mdl-list__item-primary-content">
			      Client A
			    </span>
			  </li>
			  <li class="mdl-list__item">
			  <i class="material-icons" style="color: #4ddbff; margin-right: 10px;">fiber_manual_record</i>
			    <span class="mdl-list__item-primary-content">
			      Client B
			    </span>
			  </li>

			</ul>
			</div>

		</div>
	</div>

	<!-- Content Area -->

	<main class="mdl-layout__content" style="overflow:hidden">

		<div class="page-content" ng-include="'./templates/mediator.html'">
		</div>

	</main>
	</div>
    <script src="./js/mediator-connection.js"></script>
	</body>

</html>
