.mdl-layout-title {
	font-size: 40px;
}

p {
	color: white;
	font-size: 13px;
}

/** Left Side Bar **/

.mdl-list {
	padding-top: 0px;
}

.logo_box {
	text-align: center;
	border: 1px solid white;
	border-width: 0 0 1px 0;
	background-color: #4b7aa8;
}

#logo {
	padding: 30px 10px 30px 10px;
	height: 150%;
}

#hdrbtn {
	margin-top: 20px;
}

/** **/

#username {
	font-size: 20px;
	float: left;
	margin-left: 30px;
	margin-top: 18px;
	margin-right: 30px;
}

.mdl-layout__header-row {
	top:0px;
	height: 10%;
}


#account {
	border-style: groove;
	border-color: white;
	border-width: 0px 0px 0px 1px;
	width: 280px;
}


#left_button {
	color: white;
	height: 100px;
	min-width: 100%;
	letter-spacing: 0.05em;
	font-size: 21px;
}


.avatar {
    position: relative;
    float: left;

    margin-left: 25px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.mdl-button--fab {
	margin-right: 30px;
	margin-bottom: 30px;
	height: 68px;
	width: 68px;
}

.page-content {
	background: #1a1a1a;
	position: absolute;
	height: 100%;
	width: 100%;
}

/** Admin **/

.admin_session {
	background-color: white;
	width: 100%;
	height: 100%;
}

/** Admin top buttons **/
#admin_buttons {
	width: 280px;
	background-color:#4da6ff;
	margin:5px 18px 5px 18px;	
	letter-spacing: 0.05em;
	height: 46px;
}

.admin_video {
	height: 100%;
	width: 85%;
	float: left;
	display: inline-block;
}

#admin_video_main {
	height: 47%;
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
}

#admin_video_alt {
	width: 100%;
	height: 40%;
	display: inline-block;
	position: relative;
	bottom: 7%;
}

#admin_video_1, #admin_video_2 {
	height: 100%;
	float: left;
	width: 45%;
	background-color: white;
	border:1px solid #000;
	padding: 10px 10px 10px 10px;
	margin-left: 2%;
}


/** Mediator **/

/*** Mediator Right Side Bar **/

.right_sidebar {
	float: left;
	width: 15%;
	display: inline-block;
	position: fixed;
	background-color: white;
	height: 100%;
}

.chat {
	height: auto;
	position: relative;
}

.checklist {
	margin-left: 4px;
	position: relative;
}

.input_box {
	margin-left: 4px;
	position: relative;
}

.messages {
	height: 399px;
    width: 100%;
    position: relative;
    display: inline-block;
    border-style: groove;
    border-width: 1px 0px 1px 0px;
}

/** Mediator Buttons **/

#btn_group, #btn_options {

	background-color: #598ebf;
}

#btn_hangoff {
	background-color: red;
}

#icons {
	top:50%;
	left:36%;
	color:white;
	font-size: 44px;
}

#controllers {
	margin-top: 42px;
	text-align: center;
	position: fixed;
	height: 8%;
	width: 75%;
	display: inline-block;
	bottom:20px;
}

/** Video Content **/

.client-video {
	display: inline-block;
	width: 42%;
	position: relative;
}

#video-container {
	float: left;
    width:100%;
    height:74%;
    display: block;
    text-align:justify;
    position: relative;

}

.video-window {
	border:1px solid #000;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	text-align: center;
}
#window1, #window2 {
    width:49%;
    float:left;
    border:1px solid #000;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

.mdl-textfield .mdl-js-textfield {
	border-radius: 1em;
}



