<div class="admin_session">

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--2-col session_list">

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background-color:grey;height:43px;margin:5px 18px 5px 18px;width:250px;">
  				SESSION [id]
				<i class="material-icons" style="font-size: 40px; color: black;float:right;">keyboard_arrow_down</i>
			</button>

		</div>
	</div>

	<div class="mdl-grid">

				<button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="admin_buttons">
  					<i class="material-icons" style="font-size: 40px; color: white;float:left;">file_upload</i>
					UPLOAD CSV FILE
				</button>


				<button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="admin_buttons">
						<i class="material-icons" style="font-size: 40px; color: white;">forum</i>
						LAUNCH MEETINGS
				</button>


				<button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="admin_buttons">
						<i class="material-icons" style="font-size: 40px; color: white;margin-right:9px;">contact_mail</i>
						SEND INVITE
				</button>

				<!-- Spacer

				<div class="mdl-layout-spacer"></div>

				-->

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
				<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          			<i class="material-icons">search</i>
       		    </label>
        		<div class="mdl-textfield__expandable-holder">
          			<input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                </div>
                </div>

	</div>

	<div class="mdl-grid" id="session_data">

		<table class="mdl-data-table mdl-shadow--2dp" style="width:100%;">
  			<thead>
			    <tr>
			   	  <th>
			          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
			            <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
			          </label>
      			  </th>
			      <th class="mdl-data-table__cell--non-numeric">USER NAME</th>
			      <th class="mdl-data-table__cell--non-numeric">USER TYPE</th>
			      <th class="mdl-data-table__cell--non-numeric">EMAIL ADDRESS</th>
			      <th>SESSION ID</th>
			      <th class="mdl-data-table__cell--non-numeric">VIRTUAL</th>
			    </tr>
  			</thead>
  			<tbody>
			    <tr>
			      <th>
			          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
			            <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
			          </label>
      			  </th>
			      <td class="mdl-data-table__cell--non-numeric">Bobby Lee</td>
			      <td class="mdl-data-table__cell--non-numeric">Client</td>
			      <td class="mdl-data-table__cell--non-numeric">edc@gmail.com</td>
			      <td>1</td>
			      <td class="mdl-data-table__cell--non-numeric">No</td>
			    </tr>
			    <tr>
			      <th>
			          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
			            <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
			          </label>
      			  </th>
			      <td class="mdl-data-table__cell--non-numeric">Bobby Lee</td>
			      <td class="mdl-data-table__cell--non-numeric">Client</td>
			      <td class="mdl-data-table__cell--non-numeric">edc@gmail.com</td>
			      <td>1</td>
			      <td class="mdl-data-table__cell--non-numeric">No</td>
			    </tr>
			    <tr>
			      <th>
			          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" for="table-header">
			            <input type="checkbox" id="table-header" class="mdl-checkbox__input" />
			          </label>
      			  </th>
			      <td class="mdl-data-table__cell--non-numeric">Bobby Lee</td>
			      <td class="mdl-data-table__cell--non-numeric">Client</td>
			      <td class="mdl-data-table__cell--non-numeric">edc@gmail.com</td>
			      <td>1</td>
			      <td class="mdl-data-table__cell--non-numeric">No</td>
			    </tr>
		  	</tbody>
</table>

	</div>

</div>
