

<div class="admin_video">

	<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--2-col session_list">

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background-color:grey;height:43px;margin:5px 18px 5px 18px;width:250px;">
  				SESSION [id]
				<i class="material-icons" style="font-size: 40px; color: black;float:right;">keyboard_arrow_down</i>
			</button>

			</div>

			<div class="mdl-layout-spacer"></div>

			<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="3" style="color:red;font-size:30px;margin:20px;">
			error
			</div>
	</div>

	<div id="admin_video_main">

		<div id="video-container">

		</div>

	</div>

	<div id="admin_video_alt">

		<div id="admin_video_1">


		</div>

		<div id="admin_video_2">


		</div>

	</div>

</div>

<!-- Right Sidebar-->

		<div class="right_sidebar">


				<div style="width: 100%;background-color: #598ebf; height: 40px;">
	        		<p style="margin-top:8px;margin-left: 10px;color: white;font-size: 23px;display: inline-block;">CHECKLIST</p>

	        	</div>

			<div class="checklist">

				<!-- Floating Multiline Textfield -->
				<form action="#">
				  <div class="mdl-textfield mdl-js-textfield">
				    <textarea class="mdl-textfield__input" type="text" rows= "9" id="sample5" ></textarea>
				    <label class="mdl-textfield__label" for="sample5">
				    	.....
				    </label>
				  </div>
				</form>

			</div>

			<div class="chat">


				<div style="width: 100%;background-color: #598ebf; height: 40px;">

	        		<p style="margin-top:8px;margin-left: 10px;color: white;font-size: 23px;display: inline-block;">CHAT</p>
	        	</div>

	        	<!-- Message Box -->

	        	<div class="messages">

	        	</div>

	        	<div class="input_box">
	        	<form action="#">
			          <div class="mdl-textfield mdl-js-textfield">
			            <input class="mdl-textfield__input" type="text" id="sample1">
			            <label class="mdl-textfield__label" for="sample1">Type to chat</label>
			          </div>

			          <!-- Raised button -->

			          <button class="mdl-button mdl-js-button mdl-button--raised" style="background-color: #598ebf;color: white;">

			            Send
			          </button>
			        </form>
		        </div>

	      	</div>

		</div>
