<% if(id) { %>
   <h1><%= id %></h1>
<% } %>


<div id="video-container">
  <!--<video id="their-video"  autoplay></video>
  <br />
  <video id="my-video" controls muted="true" autoplay></video> -->
</div>
